/*
    Breakpoints

    Won't change very often but when I need to,
    I can easily switch breakpoints here
*/

// Mobile
$mobile-sm: 320px;
$mobile-md: 375px;
$mobile-lg: 425px;

// Tablet
$tablet:    768px;
$tablet-md: 920px;

// Laptop & Desktop
$laptop-sm: 1024px;
$laptop-md: 1200px;
$laptop-lg: 1440px;